<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <title layout:fragment="title">Person Details</title>
    <script src="/js/personDetails.js"></script>
</head>

<body>
<div layout:fragment="content">
    <h2>Person info:</h2>
    <label for="name">Name:</label>
    <input oninput="submitPersonDetails()" type="text" id="name">
    <br>
    <label for="age">Age:</label>
    <input onchange="submitPersonDetails()" oninput="submitPersonDetails()" min="1" max="120" type="number" id="age">
    <br>
</div>
</body>

</html>
